# Default use:
# core.excludesfile=~/work/gitignore_global

# For private in packer
packer/variables.json

# For terraform temp files
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

# For ansible temp files
*.retry

# skip roles from ansible-galaxy
ansible/roles/jdauphant.nginx

# for safety work with Ansible Vault
vault.key

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
