ansible>=2.4
#molecule>=2.6
#testinfra>=1.10
python-vagrant>=0.5.15

#special for molecule latest version 2.20.1
#ERROR: molecule 2.20.1 has requirement Jinja2==2.10, but you'll have jinja2 2.10.1 which is incompatible.
#ERROR: molecule 2.20.1 has requirement PyYAML==3.13, but you'll have pyyaml 5.1.1 which is incompatible.
#ERROR: molecule 2.20.1 has requirement testinfra==1.19.0, but you'll have testinfra 3.0.5 which is incompatible.
molecule==2.20.1
Jinja2==2.10
PyYAML==3.13
testinfra==1.19.0
